/* Common CSS */
@font-face {
    font-family: "Sinhala MN";
    src: url("/assets/fonts/sinhala-mn-font.ttc");
}

body {
    font-family: "Sinhala MN";
}

/* Header CSS  */

/* Hero Section CSS  */

/* About Section CSS */

/* Service Section CSS  */

/* Product Section CSS */

/* Project Section CSS */

/* Team Section CSS */

/* Price Section CSS */

/* Client Section CSS  */

/* Testimonial Section CSS */

/* Map Section CSS */

/* Blog Section CSS  */

/* Support Section CSS */

/* Footer Section CSS */
